<!DOCTYPE html>
<html>
<head>
	<title>Raktakosh</title>
	<link rel="stylesheet" type="text/css" href="/css/homepage.css">
	<link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
	<div id="container">
		<div id="intro">
			<img id="logo" src="/images/logo.png">
			<h1 id="debrief-heading">Who are we ?</h1>
			<h2 class="debrief-content">We are a group of self-motivated young developers, who plan on giving something to society with our innovation and engineering skills. With that motive in mind, we created a single platform, which connects you will all of the blood banks out there, request and authenticate yourself, and just like that you can get blood of required units, and required blood group.</h2>
			<h2 class="debrief-content">Hoping for a change 😃</h2>
		</div>
		<div id="coa">
			<a href="/signup/hospital"><button id="btn-h">I am a <br><span class="who">Hospital</span></button></a>
			<a href="/signup/requestee"><button id="btn-u">I am a <br><span class="who">Requestee</span></button></a>
		</div>
	</div>


<script type="text/javascript" src="/js/homepage.js"></script>
</body>
</html>